/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    background-color: #000000; /* Black background */
    line-height: 1.6;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

/* Home Section */
#home {
    background-color: #000000;
    color: #ffffff;
    padding: 80px 20px;
    text-align: center;
}

#home h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

#home p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* About Section */
#about {
    padding: 50px 20px;
    background-color: #000000;
    text-align: center;
}

#about h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#about p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
}

/* My Projects Section */
#projects {
    padding: 50px 20px;
    background-color: #000000;
}

#projects h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.projects-grid img {
    max-width: 100%;
    height: auto;
}

/* Contact Section */
#contact {
    padding: 50px 20px;
    background-color: #000000;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-icon {
    color: #ffffff;
    font-size: 2rem;
    margin: 0 15px;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #4CAF50;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .projects-grid {
        flex-direction: column;
        align-items: center;
    }
    
    #home h1 {
        font-size: 2.5rem;
    }
    
    #home p {
        font-size: 1.2rem;
    }

    #about h2, #projects h2, #contact h2 {
        font-size: 2rem;
    }
}
